html
{
    box-sizing: border-box;
    overflow-x: hidden;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(photos/2452.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}



h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    font-weight: 700;

    margin: -10px 10px 10px;

    color: #9db4d5;
}


h3
{
    font-family: 'Merriweather', Georgia, serif;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;

    margin: 0;
    padding-right: 15px;
    padding-bottom: 20px;

    color: whitesmoke;
}


h4
{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: 300;

    margin: 0;
    margin-top: -15px;

    letter-spacing: 1px;

    color: lightgrey;
}

.arrowDown
{
    font-size: 6em;

    position: absolute;
    top: 1em;
    left: 5%;

    color: white;
}


a
{
    cursor: pointer;
    text-decoration: none;
}

p
{
    font-size: .8em;

    padding-right: 1em;
}

.content-wrap
{
    display: flex;
    flex-direction: column;

    padding-top: 300px;
    padding-right: 150px;

    align-items: flex-end;
}

.collaboration-box
{
    display: flex;
    flex-direction: column;

    padding: 1em;

    background-color: rgba(0, 0, 0, .8);

    align-items: flex-end;
}

/* Header and Footer
-------------------------*/

header,
footer
{
    background: #2b2d42;
}

/* header */

header
{
    position: relative;
}

/* footer */

footer
{
    font-family: 'Merriweather', serif;

    text-align: center;

    background: url(../images/geom-pattern.jpg) repeat fixed;
    background-position: center;
    background-size: 20%;
}

.content-wrap-contact
{
    display: flex;
    flex-direction: column;

    height: 180px;

    justify-content: flex-end;
}


.contact-info a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;

    margin: 2em;
    padding: 1em;

    color: #9db4d5;
    background-color: white;
}

.contact-info a:hover
{
    color: black;
}

/* Navigation
-------------------------*/

nav
{
    top: 0;

    width: 100%;
    height: 60px;

    background-color: black;
}

nav h4
{
    padding: 2em;

    text-align: center;
}

.logo
{
    position: absolute;

    width: 20%;
    margin-top: 160px;
    margin-left: 160px;
}

/* Main
-------------------------*/
.goToPage
{
    margin-right: 10px;
    padding: 10px;

    color: black;
    background-color: #9db4d5;
}

.goToPage:hover
{
    cursor: pointer;

    background-color: whitesmoke;
}


.panel
{
    display: flex;
    flex-direction: column;

    height: 90vh;

    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 50%;

    justify-content: center;
}


.panel > *
{
    display: flex;

    width: 100%;
    margin: 0;

    flex: 1 0 auto;
}

.panels
{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

/* vero
-------------------------*/

.veronique
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../images/veronique.jpg);
}

/* franzius
-------------------------*/

.franzius
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../images/franzius.jpg);
}

/* wolfen
-------------------------*/

.wolfen
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../images/wolfen.jpg);
}

/* linda
-------------------------*/

.linda
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), linear-gradient(rgba(141, 153, 174, .3), rgba(141, 153, 174, 0)), url(../images/linda-gris-neutre.jpg);
}


/* grisneutre 01
-------------------------*/

.gris1
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../images/grisneutre001.jpg);
}

/* grisneutre 02
-------------------------*/

.gris2
{
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(../images/grisneutre002.jpg);
}

/* Media Queries
-------------------------*/
@media only screen (min-width: 767px) and (max-width: 1110px)
{
    h2
    {
        font-size: 3em;
    }

    h3
    {
        font-size: .8em;
        line-height: 12px;
    }

    nav
    {
        height: 70px;
    }

    .content-wrap
    {
        padding-top: 300px;
        padding-right: 50px;
        align-items: flex-end;
    }
}





@media only screen  (min-width: 615px) and (max-width: 768px)
{
    .logo
    {
        width: 30%;
        margin-top: 120px;
        margin-left: 120px;
    }

    nav
    {
        height: 80px;
    }

    h2
    {
        font-size: 3em;
    }

    h3
    {
        font-size: .8em;
        line-height: 12px;
    }

    p
    {
        font-size: .6em;
    }

    .content-wrap
    {
        padding-top: 300px;
        padding-right: 0;

        align-items: flex-end;
    }
}



@media only screen and (max-width: 616px)
{
    .logo
    {
        width: 40%;
        margin-top: 90px;
        margin-left: 40px;
    }

    nav
    {
        height: 90px;
        font-size: 0.8em;
        padding: 0 10px;
    }

    h2
    {
        font-size: 1.5em;
    }

    h3
    {
        font-size: 0.5em;
        line-height: 2px;
    }

    p{
        font-size: .6em;
        margin-top: 10px;
    }

    .content-wrap
    {
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }

    .contact-info a{
      font-size: 1em;
    }


}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */


.heartbeat
{
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
            animation: heartbeat 2s ease-in-out infinite both;
}


.scrollDown
{
    -webkit-animation: scrollDown 2s ease-in-out infinite both;
            animation: scrollDown 2s ease-in-out infinite both;
}



@keyframes scrollDown
{
    100%
    {
        transform: translateY(800px);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-30 17:29:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


@-webkit-keyframes heartbeat
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    10%
    {
        -webkit-transform: scale(.91);
                transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    17%
    {
        -webkit-transform: scale(.98);
                transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    33%
    {
        -webkit-transform: scale(.87);
                transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    45%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

@keyframes heartbeat
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    10%
    {
        -webkit-transform: scale(.91);
                transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    17%
    {
        -webkit-transform: scale(.98);
                transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    33%
    {
        -webkit-transform: scale(.87);
                transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }

    45%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}
